html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  background: #fff;
  color: #212121;
  padding-top: 50px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  transition: all .2s ease-out;
  opacity: 1; }
  body.js-loading {
    opacity: 0; }

.register {
  color: #cc3366;
  font-weight: bold; }

a {
  color: #1F2F78;
  font-weight: bold; }
  a:hover {
    color: #2D448B; }
  a.same-color:hover {
    color: #1F2F78; }

/* Fonts and general text styling */
h1 {
  color: #FFFFFF;
  font-family: "Helvetica Neue";
  font-size: 38px;
  font-weight: bold; }

h2 {
  color: #212121;
  font-size: 38px;
  font-weight: 200;
  line-height: 46px; }

h3 {
  font-size: 28px;
  font-weight: 200;
  line-height: 34px;
  margin: 32px 0; }

p {
  font-family: Roboto; }

strong {
  font-weight: 700; }

.btn {
  border-radius: 0;
  border: 1px solid #fff;
  font-size: 22px;
  margin: 1rem 0;
  padding: .75rem 2.5rem;
  transition: all .2s ease-out; }
  .btn-primary {
    background: #fff;
    color: #2D448B; }
    .btn-primary:hover {
      background: #fefefe;
      border: 1px solid #fff;
      color: #2D448B; }

/* Helper stuff */
.center-vertical {
  display: flex;
  align-items: center; }

.text-centered {
  text-align: center; }

.wrapper {
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 30px;
  width: 100%; }

.navbar {
  background: #fff;
  color: #2D448B;
  min-height: 82px; }
  .navbar li {
    display: inline-block;
    margin: 0 15px; }
    @media (max-width: 768px) {
      .navbar li {
        display: block;
        margin: 15px; } }
  .navbar .nav a {
    border-bottom: 1px solid transparent;
    color: #2D448B;
    line-height: 29px;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    margin: 32px 0 0;
    transition: all .2s ease-out; }
    @media (max-width: 768px) {
      .navbar .nav a {
        display: inline-block;
        margin: 16px 0; } }
    .navbar .nav a:hover {
      background: none;
      border-bottom: 1px solid #2D448B; }

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 100%; }

.nav-special {
  margin: -6px 0 0 10px !important; }
  .nav-special a {
    display: inline-block;
    border: 1px solid #2D448B !important;
    padding: .5rem 2.5rem !important; }

.navbar-toggle {
  margin-right: 0;
  padding: 26px 0 0; }
  .navbar-toggle .icon-bar {
    background: #2D448B;
    position: relative; }
    .navbar-toggle .icon-bar:nth-of-type(2) {
      top: 1px; }
    .navbar-toggle .icon-bar:nth-of-type(3) {
      top: 2px; }
  .navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent; }
  .navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.navbar-brand {
  padding: 5px 15px 5px 0; }
  .navbar-brand img {
    height: 61px;
    width: 84px;
    margin-top: 10px; }

.row img {
  max-width: 100%; }

body > section {
  padding: 20px 0; }
  body > section.compact {
    padding: 0; }

#hero {
  background: url(../img/hero_bg.jpg) center center no-repeat;
  background-size: cover; }

.hero {
  min-height: 535px; }
  @media (max-width: 500px) {
    .hero {
      min-height: 620px; } }
  .hero-heading {
    font-weight: 400;
    max-width: 641px; }
    @media (max-width: 500px) {
      .hero-heading {
        font-size: 24px; } }
  .hero-divider {
    max-width: 550px;
    opacity: .8;
    border-top: 2px solid #fff;
    margin: 20px 0; }
  .hero-date {
    color: #fff;
    font-family: Roboto;
    margin: 0 0 10px; }
    @media (max-width: 500px) {
      .hero-date {
        font-size: 20px; } }
  .hero-text {
    color: #fff;
    font-family: Roboto;
    font-size: 24px;
    line-height: 34px; }
    @media (max-width: 500px) {
      .hero-text {
        font-size: 20px; } }

#about {
  background: #fff url(../img/pattern_bg.jpg) center no-repeat;
  background-size: cover;
  min-height: 500px;
  padding: 4rem 0; }
  #about h2 {
    margin: 2rem 0; }

.about-box {
  border-right: 1px solid rgba(33, 33, 33, 0.13);
  margin-top: 16px;
  min-height: 265px;
  padding-left: 25px; }
  @media (max-width: 768px) {
    .about-box {
      border: none;
      padding: 15px;
      min-height: 0;
      margin-top: 8px; } }
  .about-box:first-child {
    padding-left: 15px; }
  .about-box:last-child {
    border: none; }
  .about-box h3 {
    font-size: 22px;
    font-weight: 500;
    margin-top: 0; }
  .about-box p {
    font-size: 20px;
    font-family: Roboto; }

#youtubeVideo {
  background: #3FA9F5;
  color: #fff; }
  #youtubeVideo h2 {
    color: #fff; }
  #youtubeVideo iframe {
    display: block;
    margin: 0 auto; }

#feed .twitter-feed {
  border-bottom: 1px solid #ccc; }
  #feed .twitter-feed iframe {
    float: none;
    width: 100% !important;
    height: 500px !important; }

#topics {
  padding-top: 0;
  padding-bottom: 0; }

.topics-header-wrapper {
  background-color: #1F2F78; }
  .topics-header-wrapper h2 {
    color: #fff;
    font-weight: 200;
    font-size: 32px;
    padding: 40px 0;
    margin: 0; }

.topic {
  padding: 20px 0; }
  .topic .time,
  .topic .title {
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 16px; }
  .topic .title {
    font-size: 22px;
    margin-top: 14px; }
  .topic .abstract {
    margin: 1em 0; }
    .topic .abstract b {
      color: #8bc944;
      display: block; }
  .topic .link span {
    font-weight: bold; }
  .topic .participant {
    margin-bottom: 10px; }
  .topic .hexagon-1 {
    width: 100%;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
    cursor: pointer;
    padding-bottom: 200%;
    margin: -42% 0; }
  .topic .hexagon-2 {
    width: 100%;
    height: 0px;
    overflow: hidden;
    padding-bottom: 200%;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg); }
  .topic .hexagon-3 {
    width: 100%;
    height: 0px;
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    background-size: cover;
    padding-bottom: 200%;
    background-size: contain;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg); }
  .topic .speaker {
    text-align: center; }
    .topic .speaker #dan_shaw .hexagon-3 {
      background-image: url(../img/dan_shaw1.png); }
    .topic .speaker #shawn_mandell .hexagon-3 {
      background-image: url(../img/shawn_mandel.png); }
    .topic .speaker #kim_trott .hexagon-3 {
      background-image: url(../img/qmark.png); }
    .topic .speaker #ed_cudahy .hexagon-3 {
      background-image: url(../img/ed_cudahy1.png); }
    .topic .speaker #nithya_ruff .hexagon-3 {
      background-image: url(../img/nithya_ruff1.png); }
    .topic .speaker #ahmad_nassri .hexagon-3 {
      background-image: url(../img/ahmad_nassri.png); }
    .topic .speaker #panel .hexagon-3 {
      background-image: url(../img/panel.png); }
    .topic .speaker #edward_cudahy .hexagon-3 {
      background-image: url(../img/Ed-Cudahy.png); }
    .topic .speaker #aaron_heckmann .hexagon-3 {
      background-image: url(../img/aaron_heckmann.png); }
    .topic .speaker #tara_manicsic .hexagon-3 {
      background-image: url(../img/tara_manicsic.png); }
    .topic .speaker #jory_burson .hexagon-3 {
      background-image: url(../img/jory_burson.jpg); }
    .topic .speaker #kyle_hodgson .hexagon-3 {
      background-image: url(../img/kyle_hodgson.jpg); }
    .topic .speaker #joel_chen .hexagon-3 {
      background-image: url(../img/joel_chen.jpg); }
    .topic .speaker #kathryn_hume .hexagon-3 {
      background-image: url(../img/kathryn_hume.jpg); }
  .topic .speaker-info {
    margin-top: 42px;
    text-align: left;
    max-width: 155px; }
  .topic .speaker-name {
    color: #999999;
    font-weight: bold;
    margin-bottom: 0; }
  .topic .speaker-tag {
    color: #B3B3B3;
    margin-bottom: 0; }
  .topic .speaker-image {
    width: 125px;
    margin: 10px 0 10px 18px; }
  .topic .speaker-occupation {
    color: #B3B3B3;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: .75em; }
  .topic.topic-init {
    color: #fff; }
    .topic.topic-init .time, .topic.topic-init h2 {
      color: #fff; }
  .topic .topic-workshop .time, .topic.topic-break h2 {
    color: #fff; }
  .topic.topic-lunch {
    color: #fff; }
    .topic.topic-lunch .time, .topic.topic-lunch h2 {
      color: #fff; }
  .topic.topic-workshop h3 {
    color: #fff; }
  .topic.topic-init {
    background: #FF931E; }
  .topic.topic-break {
    background: #fafafa url(../img/pattern_bg_2.png) top;
    background-size: cover; }
  .topic.topic-workshop {
    background: #cc3366; }
  .topic.topic-lunch {
    background: #3FA9F5; }
  .topic-talk .title {
    font-weight: 500;
    text-transform: uppercase; }
  .topic-talk p {
    font-family: Roboto;
    font-size: 14px; }

.partner-logo {
  align-items: center;
  display: flex;
  height: 150px;
  margin: 80px 0;
  width: 100%;
  text-align: center; }
  @media (max-width: 768px) {
    .partner-logo {
      margin: 20px 0; } }
  .partner-logo a {
    display: inline-block; }
  .partner-logo a, .partner-logo img {
    max-width: 240px;
    width: 100%;
    margin: 0 auto; }

.image-centered {
  display: inline-block;
  margin: 0 auto; }

#location {
  background: #1F2F78;
  color: #fff;
  padding-bottom: 120px; }
  #location h2 {
    color: #fff;
    font-size: 32px;
    margin: 0 0 2rem 0; }
  #location a {
    color: #fff; }

.address-content {
  margin-top: 105px; }
  @media (max-width: 768px) {
    .address-content {
      margin-top: 40px; } }

#registration {
  background: #3FA9F5;
  color: #fff; }
  #registration h2 {
    color: #fff; }

@media (min-width: 768px) {
  body {
    padding-top: 0px; }
  .nav .clearfix:before {
    clear: none; }
  .navbar-fixed-top {
    position: relative; }
  .navbar-nav {
    float: right; }
  #hero .splash {
    max-width: 400px; }
  #hero .date {
    font-size: 2.6em; }
  #hero .action .button {
    width: 335px;
    height: 80px;
    line-height: 70px; }
    #hero .action .button span {
      width: 335px; }
  .topic .time {
    font-size: 1.5rem;
    text-align: center; }
  .topic .icon {
    background: url(../img/icons.png) no-repeat;
    width: 36px;
    height: 42px;
    margin: 30px auto 0; }
    .topic .icon.core {
      background-position: 0 0; }
    .topic .icon.enterprise {
      background-position: 0 -50px; }
    .topic .icon.everywhere {
      background-position: 0 -100px; }
  .topic .hexagon-1 {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
    padding-bottom: 200%;
    margin: -42% 0; }
  .topic .hexagon-2 {
    overflow: hidden;
    padding-bottom: 200%;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg); }
  .topic .hexagon-3 {
    padding-bottom: 200%;
    background-size: contain;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg); }
  .topic .speaker-info {
    margin-top: 0;
    text-align: center; } }

#codeofconduct {
  padding-bottom: 4rem; }
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3MvYXBwLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBRUE7RUFDRSxZQUFXO0VBQ1gsYUFBWSxFQUNiOztBQUVEO0VBQ0UsWUFBVztFQUNYLGFBQVk7RUFDWiw0REFBMkQ7RUFDM0QsaUJBQWdCO0VBQ2hCLGlCQUFnQjtFQUNoQixlQUFjO0VBQ2Qsa0JBQWlCO0VBQ2pCLGlCQUFnQjtFQUNoQixzQkFBcUI7RUFDckIsNkJBQTRCO0VBQzVCLFdBQVUsRUFLWDtFQWhCRDtJQWNJLFdBQVUsRUFDWDs7QUFHSDtFQUNFLGVBQWM7RUFDZCxrQkFBaUIsRUFDbEI7O0FBRUQ7RUFDRSxlQUFjO0VBQ2Qsa0JBQWlCLEVBUWxCO0VBVkQ7SUFLSSxlQW5DVSxFQW9DWDtFQU5IO0lBUUksZUFBYyxFQUNmOztBQUdILG9DQUFvQztBQUVwQztFQUNFLGVBQWM7RUFDZCw4QkFBNkI7RUFDN0IsZ0JBQWU7RUFDZixrQkFBaUIsRUFDbEI7O0FBRUQ7RUFDRSxlQUFjO0VBQ2QsZ0JBQWU7RUFDZixpQkFBZ0I7RUFDaEIsa0JBQWlCLEVBQ2xCOztBQUVEO0VBQ0UsZ0JBQWU7RUFDZixpQkFBZ0I7RUFDaEIsa0JBQWlCO0VBQ2pCLGVBQWMsRUFDZjs7QUFFRDtFQUNFLG9CQUFtQixFQUNwQjs7QUFFRDtFQUNFLGlCQUFnQixFQUNqQjs7QUFFRDtFQUNFLGlCQUFnQjtFQUNoQix1QkFBc0I7RUFDdEIsZ0JBQWU7RUFDZixlQUFjO0VBQ2QsdUJBQXNCO0VBQ3RCLDZCQUE0QixFQVk3QjtFQVZDO0lBQ0UsaUJBQWdCO0lBQ2hCLGVBbkZVLEVBMEZYO0lBVEQ7TUFLSSxvQkFBNEI7TUFDNUIsdUJBQXNCO01BQ3RCLGVBeEZRLEVBeUZUOztBQUlMLGtCQUFrQjtBQUVsQjtFQUNFLGNBQWE7RUFDYixvQkFBbUIsRUFDcEI7O0FBRUQ7RUFDRSxtQkFBa0IsRUFDbkI7O0FBR0Q7RUFDRSxlQUFjO0VBQ2Qsa0JBQWlCO0VBQ2pCLGdCQUFlO0VBQ2YsWUFBVyxFQUNaOztBQUVEO0VBQ0UsaUJBQWdCO0VBQ2hCLGVBbEhZO0VBbUhaLGlCQUFnQixFQWdDakI7RUFuQ0Q7SUFNSSxzQkFBcUI7SUFDckIsZUFBYyxFQU9mO0lBTEM7TUFUSjtRQVVNLGVBQWM7UUFDZCxhQUFZLEVBR2YsRUFBQTtFQWRIO0lBZ0JJLHFDQUFvQztJQUNwQyxlQWpJVTtJQWtJVixrQkFBaUI7SUFDakIsV0FBVTtJQUNWLGdCQUFlO0lBQ2YsaUJBQWdCO0lBQ2hCLGlCQUFnQjtJQUNoQiw2QkFBNEIsRUFXN0I7SUFUQztNQXpCSjtRQTBCTSxzQkFBcUI7UUFDckIsZUFBYyxFQU9qQixFQUFBO0lBbENIO01BK0JNLGlCQUFnQjtNQUNoQixpQ0FoSlEsRUFpSlQ7O0FBSUw7RUFDSSxpQkFBZ0IsRUFDbkI7O0FBRUQ7RUFDRSxpQ0FBZ0MsRUFPakM7RUFSRDtJQUlJLHNCQUFxQjtJQUNyQixxQ0FBa0M7SUFDbEMsaUNBQWdDLEVBQ2pDOztBQUdIO0VBQ0UsZ0JBQWU7RUFDZixrQkFBaUIsRUF3QmxCO0VBMUJEO0lBSUksb0JBdktVO0lBOEtWLG1CQUFrQixFQUNuQjtJQVpIO01BTU0sU0FBUSxFQUNUO0lBUEw7TUFTTSxTQUFRLEVBQ1Q7RUFWTDtJQWVNLFNBQVE7SUFDUixpQ0FBd0I7WUFBeEIseUJBQXdCLEVBQ3pCO0VBakJMO0lBbUJNLDhCQUE2QixFQUM5QjtFQXBCTDtJQXNCTSxVQUFTO0lBQ1Qsa0NBQXlCO1lBQXpCLDBCQUF5QixFQUMxQjs7QUFJTDtFQUNFLHdCQUF1QixFQU14QjtFQVBEO0lBR0ksYUFBWTtJQUNaLFlBQVc7SUFDWCxpQkFBZ0IsRUFDakI7O0FBR0g7RUFDRSxnQkFBZSxFQUNoQjs7QUFFRDtFQUNFLGdCQUFlLEVBSWhCO0VBTEQ7SUFHSSxXQUFVLEVBQ1g7O0FBR0g7RUFDRSw0REFBMkQ7RUFDM0QsdUJBQXNCLEVBQ3ZCOztBQUVEO0VBRUUsa0JBQWlCLEVBMENsQjtFQXhDQztJQUpGO01BS0ksa0JBQWlCLEVBdUNwQixFQUFBO0VBcENDO0lBQ0UsaUJBQWdCO0lBQ2hCLGlCQUFnQixFQUtqQjtJQUhDO01BSkY7UUFLSSxnQkFBZSxFQUVsQixFQUFBO0VBRUQ7SUFDRSxpQkFBZ0I7SUFDaEIsWUFBVztJQUNYLDJCQUEwQjtJQUMxQixlQUFjLEVBQ2Y7RUFFRDtJQUNFLFlBQVc7SUFDWCxvQkFBbUI7SUFDbkIsaUJBQWdCLEVBS2pCO0lBSEM7TUFMRjtRQU1JLGdCQUFlLEVBRWxCLEVBQUE7RUFFRDtJQUNFLFlBQVc7SUFDWCxvQkFBbUI7SUFDbkIsZ0JBQWU7SUFDZixrQkFBaUIsRUFLbEI7SUFIQztNQU5GO1FBT0ksZ0JBQWUsRUFFbEIsRUFBQTs7QUFHSDtFQUNFLDZEQUE0RDtFQUM1RCx1QkFBc0I7RUFDdEIsa0JBQWlCO0VBQ2pCLGdCQUFlLEVBS2hCO0VBVEQ7SUFPSSxlQUFjLEVBQ2Y7O0FBR0g7RUFFRSwrQ0FBb0M7RUFDcEMsaUJBQWdCO0VBQ2hCLGtCQUFpQjtFQUVqQixtQkFBa0IsRUEwQm5CO0VBeEJDO0lBUkY7TUFTSSxhQUFZO01BQ1osY0FBYTtNQUNiLGNBQWE7TUFDYixnQkFBZSxFQW9CbEIsRUFBQTtFQWhDRDtJQWdCSSxtQkFBa0IsRUFDbkI7RUFqQkg7SUFvQkksYUFBWSxFQUNiO0VBckJIO0lBd0JJLGdCQUFlO0lBQ2YsaUJBQWdCO0lBQ2hCLGNBQWEsRUFDZDtFQTNCSDtJQTZCSSxnQkFBZTtJQUNmLG9CQUFtQixFQUNwQjs7QUFHSDtFQUNFLG9CQUFtQjtFQUNuQixZQUFXLEVBUVo7RUFWRDtJQUlJLFlBQVcsRUFDWjtFQUxIO0lBT0ksZUFBYztJQUNkLGVBQWMsRUFDZjs7QUFHSDtFQUNFLDhCQUE2QixFQU05QjtFQVBEO0lBR0ksWUFBVztJQUNYLHVCQUFzQjtJQUN0Qix5QkFBd0IsRUFDekI7O0FBR0g7RUFDRSxlQUFjO0VBQ2Qsa0JBQWlCLEVBQ2xCOztBQUVEO0VBQ0UsMEJBQXlCLEVBUTFCO0VBVEQ7SUFHSSxZQUFXO0lBQ1gsaUJBQWdCO0lBQ2hCLGdCQUFlO0lBQ2YsZ0JBQWU7SUFDZixVQUFTLEVBQ1Y7O0FBR0g7RUFDRSxnQkFBZSxFQXVMaEI7RUF4TEQ7O0lBSUksZ0JBQWU7SUFDZixpQkFBZ0I7SUFDaEIsaUJBQWdCO0lBQ2hCLG9CQUFtQixFQUNwQjtFQVJIO0lBVUksZ0JBQWU7SUFDZixpQkFBZ0IsRUFDakI7RUFaSDtJQWNJLGNBQWEsRUFLZDtJQW5CSDtNQWdCTSxlQUFjO01BQ2QsZUFBYyxFQUNmO0VBbEJMO0lBcUJJLGtCQUFpQixFQUNsQjtFQXRCSDtJQXdCSSxvQkFBbUIsRUFDcEI7RUF6Qkg7SUEyQkksWUFBVztJQUNYLFlBQVc7SUFDWCxpQkFBZ0I7SUFDaEIsbUJBQWtCO0lBQ2xCLGtDQUFpQztJQUlqQywwQkFBeUI7SUFDekIsZ0JBQWU7SUFDZixxQkFBb0I7SUFDcEIsZUFBYyxFQUNmO0VBdkNIO0lBeUNJLFlBQVc7SUFDWCxZQUFXO0lBQ1gsaUJBQWdCO0lBQ2hCLHFCQUFvQjtJQUNwQixrQ0FBaUM7SUFJakMsMEJBQXlCLEVBQzFCO0VBbERIO0lBb0RJLFlBQVc7SUFDWCxZQUFXO0lBQ1gsNkJBQTRCO0lBQzVCLDhCQUE2QjtJQUM3Qix1QkFBc0I7SUFDdEIscUJBQW9CO0lBQ3BCLHlCQUF3QjtJQUN4QixvQkFBbUI7SUFDbkIsa0NBQWlDO0lBSWpDLDBCQUF5QixFQUMxQjtFQWpFSDtJQW1FSSxtQkFBa0IsRUE2Q25CO0lBaEhIO01Bc0VNLDRDQUEyQyxFQUM1QztJQXZFTDtNQXlFTSwrQ0FBOEMsRUFDL0M7SUExRUw7TUE0RU0sd0NBQXVDLEVBQ3hDO0lBN0VMO01BK0VNLDZDQUE0QyxFQUM3QztJQWhGTDtNQWtGTSwrQ0FBOEMsRUFDL0M7SUFuRkw7TUFxRk0sK0NBQThDLEVBQy9DO0lBdEZMO01Bd0ZNLHdDQUF1QyxFQUN4QztJQXpGTDtNQTJGTSw0Q0FBMkMsRUFDNUM7SUE1Rkw7TUE4Rk0saURBQWdELEVBQ2pEO0lBL0ZMO01BaUdNLGdEQUErQyxFQUNoRDtJQWxHTDtNQXFHTSw4Q0FBNkMsRUFDOUM7SUF0R0w7TUF3R00sK0NBQThDLEVBQy9DO0lBekdMO01BMkdNLDRDQUEyQyxFQUM1QztJQTVHTDtNQThHTSwrQ0FBOEMsRUFDL0M7RUEvR0w7SUFrSEksaUJBQWdCO0lBQ2hCLGlCQUFnQjtJQUNoQixpQkFBZ0IsRUFDakI7RUFySEg7SUF1SEksZUFBYztJQUNkLGtCQUFpQjtJQUNqQixpQkFBZ0IsRUFDakI7RUExSEg7SUE0SEksZUFBYztJQUNkLGlCQUFnQixFQUNqQjtFQTlISDtJQWdJSSxhQUFZO0lBQ1oseUJBQXdCLEVBQ3pCO0VBbElIO0lBb0lJLGVBQWM7SUFDZCw0SEFBMkg7SUFDM0gsaUJBQWdCO0lBQ2hCLGlCQUFnQixFQUNqQjtFQXhJSDtJQTBJSSxZQUFXLEVBSVo7SUE5SUg7TUE0SU0sWUFBVyxFQUNaO0VBN0lMO0lBb0pJLFlBQVcsRUFDWjtFQXJKSDtJQXVKSSxZQUFXLEVBSVo7SUEzSkg7TUF5Sk0sWUFBVyxFQUNaO0VBMUpMO0lBNkpJLFlBQVcsRUFDWjtFQTlKSDtJQWdLSSxvQkFBbUIsRUFDcEI7RUFqS0g7SUFvS0kscURBQW9EO0lBQ3BELHVCQUFzQixFQUN2QjtFQXRLSDtJQXdLSSxvQkFBbUIsRUFDcEI7RUF6S0g7SUEyS0ksb0JBQW1CLEVBQ3BCO0VBRUQ7SUFFSSxpQkFBZ0I7SUFDaEIsMEJBQXlCLEVBQzFCO0VBSkg7SUFNSSxvQkFBbUI7SUFDbkIsZ0JBQWUsRUFDaEI7O0FBSUw7RUFDRSxvQkFBbUI7RUFDbkIsY0FBYTtFQUNiLGNBQWE7RUFDYixlQUFjO0VBQ2QsWUFBVztFQUNYLG1CQUFrQixFQWdCbkI7RUFkQztJQVJGO01BU0ksZUFBYyxFQWFqQixFQUFBO0VBdEJEO0lBYUksc0JBQXFCLEVBRXRCO0VBZkg7SUFrQkksaUJBQWdCO0lBQ2hCLFlBQVc7SUFDWCxlQUFjLEVBQ2Y7O0FBR0g7RUFDRSxzQkFBcUI7RUFDckIsZUFBYyxFQUNmOztBQUVEO0VBQ0Usb0JBQW1CO0VBQ25CLFlBQVc7RUFDWCxzQkFBcUIsRUFVdEI7RUFiRDtJQU1JLFlBQVc7SUFDWCxnQkFBZTtJQUNmLG1CQUFrQixFQUNuQjtFQVRIO0lBV0ksWUFBVyxFQUNaOztBQU9IO0VBQ0Usa0JBQWlCLEVBS2xCO0VBSEM7SUFIRjtNQUlJLGlCQUFnQixFQUVuQixFQUFBOztBQUVEO0VBQ0Usb0JBQW1CO0VBQ25CLFlBQVcsRUFJWjtFQU5EO0lBSUksWUFBVyxFQUNaOztBQUdIO0VBQ0U7SUFDRSxpQkFBZ0IsRUFDakI7RUFDRDtJQUNFLFlBQVcsRUFDWjtFQUNEO0lBQ0UsbUJBQWtCLEVBQ25CO0VBQ0Q7SUFDRSxhQUFZLEVBQ2I7RUFDRDtJQUVJLGlCQUFnQixFQUNqQjtFQUhIO0lBS0ksaUJBQWdCLEVBQ2pCO0VBTkg7SUFRSSxhQUFZO0lBQ1osYUFBWTtJQUNaLGtCQUFpQixFQUlsQjtJQWRIO01BWU0sYUFBWSxFQUNiO0VBR0w7SUFFSSxrQkFBaUI7SUFDakIsbUJBQWtCLEVBQ25CO0VBSkg7SUFNSSw0Q0FBMkM7SUFDM0MsWUFBVztJQUNYLGFBQVk7SUFDWixvQkFBbUIsRUFVcEI7SUFuQkg7TUFXTSx5QkFBd0IsRUFDekI7SUFaTDtNQWNNLDZCQUE0QixFQUM3QjtJQWZMO01BaUJNLDhCQUE2QixFQUM5QjtFQWxCTDtJQXFCSSxpQkFBZ0I7SUFDaEIsbUJBQWtCO0lBQ2xCLGtDQUFpQztJQUlqQywwQkFBeUI7SUFDekIscUJBQW9CO0lBQ3BCLGVBQWMsRUFDZjtFQTlCSDtJQWdDSSxpQkFBZ0I7SUFDaEIscUJBQW9CO0lBQ3BCLGtDQUFpQztJQUlqQywwQkFBeUIsRUFDMUI7RUF2Q0g7SUF5Q0kscUJBQW9CO0lBQ3BCLHlCQUF3QjtJQUN4QixvQkFBbUI7SUFDbkIsa0NBQWlDO0lBSWpDLDBCQUF5QixFQUMxQjtFQWpESDtJQW1ESSxjQUFhO0lBQ2IsbUJBQWtCLEVBQ25CLEVBQUE7O0FBSUw7RUFDRSxxQkFBb0IsRUFDckIiLCJmaWxlIjoiYXBwLmNzcyJ9 */